y = m1x1+m2x2+c <br>
m1=2 m2=3 c=5
(1,1) -->

In [15]:
def cal(x1,x2):
    return 2*x1+3*x2+5
cal(1,1)

10

In [2]:
cal(6,7)

38

In [16]:
cal(5,7)

36

In [30]:
import pandas as pd
data=pd.read_csv('data1.csv')
data

   x1  x2    y
0   1   1   10
1   5   7   36
2   6   7   38
3   8   9  156

In [31]:
features = data[['x1','x2']]
features

   x1  x2
0   1   1
1   5   7
2   6   7
3   8   9

In [32]:
target=data['y']
target

0     10
1     36
2     38
3    156
Name: y, dtype: int64

In [33]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()
lr.fit(features,target)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [34]:
lr.intercept_

-22.00000000000003

In [35]:
lr.coef_

array([ 56., -33.])

In [36]:
print(lr.predict([[2,6],[1,1]]))

[-108.    1.]

In [37]:
pred = lr.predict(features)
pred

array([  1.,  27.,  83., 129.])

In [38]:
from sklearn.metrics import mean_squared_error
mean_squared_error(pred,target)

729.0

# classification

In [40]:
data1=pd.read_csv('data1.csv')
data1

   x1  x2    y
0   1   1   10
1   5   7   36
2   6   7   38
3   8   9  156

In [41]:
feat= data1[['x1','x2']]
feat

   x1  x2
0   1   1
1   5   7
2   6   7
3   8   9

In [42]:
out= data1['y'].apply(lambda x:1 if x>45 else 0)
out

0    0
1    0
2    0
3    1
Name: y, dtype: int64

In [44]:
from sklearn.linear_model import LogisticRegression
lrc=LogisticRegression()
lrc.fit(feat,out)

C:\Users\Vikki\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)