# introduction of python
## intoduction of python

<img src="imagee.jpg" height="350px" width="450px">

In [ ]:
pwd

# python programming

- python can be used as general programming
- python more popular because of internal and external package
- python can be used as functional programming, oop, scripting programming
- python used in data science, machine learning and AI
- data sciences
    - pandas
- visualization
    - matlib, scipy
- multi dimensional programming
    - numpy

In [ ]:
print("HITMAN")

In [ ]:
print("rohit")
print("hitman")

In [ ]:
print("rohit",end=" ")
print("hitman")

## datatypes in python


- int
- float
- string

In [ ]:
x=100000000
print(x,type(x))

In [ ]:
s= 'a'
s1= 'app'
print(s,type(s))
print(s1,type(s1))

### input fuctions
- input() which reads the input console and gives the output interms of string format

In [ ]:
s = input("enetr ur name")
print(s,type(s))

###  type conversations

- int()
    * makes input into integer
- float()
    * input to float format
- string()
    * input to string

In [ ]:
s = int (input("enetr ur name"))
print(s,type(s))

# conditional flow statements

- conditional statements
    * if-else
- loop
    * for, while

In [ ]:
x = int(input())
if x %2 ==0:
    print("even")
else:
    print("odd")

In [ ]:
# read character

In [ ]:
x=input()
if ord(x) >= 65 and ord(x) <=90:
    print("upper case")
elif ord(x) >= 97 and ord(x) >=122:
    print("lowercase")

In [20]:
# read the char and print the output in vice versa
# a-A
# A-a
x=input()
if ord(x) >=65 and ord(x) <=90:
    print(chr(ord(x) + 32))
elif ord(x)>=97 and ord(x)<=122:
    print(chr(ord(x) - 32))

q
Q

In [ ]:
print(ord('A'))
print(chr(65))

In [ ]:
# while loop
    - no-fixed
# for loop
    - fixed

In [ ]:
# print the natural numbers from 1 to N
n = int(input())
i=1
while i <= n:
    print(i, end =' ')
    i += 1

In [ ]:
#print the divisors/factors of the given 
n= int (input())
i=1
while i<=n:
    if n % i == 0:
        print(i,end=' ')
    i += 1

In [ ]:
#print the digit of the given number
n=int(input())
while n != 0:
    print(n%10,end=' ')
    n = n//10

In [ ]:
for x in range(5):
    print(x,end=' ')

In [ ]:
for x in range(1,10):
    print(x,end=' ')

In [ ]:
for x in range(99,199,2):
    print(x,end=' ')

In [ ]:
for x in range(199,99,-2):
    print(x,end=' ')

# data structures
- organizing the huge amount of data
- makes the user to search , sort and filter the respective in simple manner
- examples: databases

# data structures in python
- list
- tuples
- dictionary
- sets

# lists in python
- common data structures in python
- used to define the range/group of items under a same name
- list can be same type or different type
- list always enclosed in sq brackets
- every list item will be seperated by comma(,)

In [ ]:
li = [1,2,3,4,5]
print(li)

In [ ]:
# list with looping
for x in range(len(li)):
    print(li[x],end=' ')

In [ ]:
l = [99,"hyd",'vocky',78,9.4]
for i in range(len(l)):
    print(l[i],end=' ')

In [ ]:
#update and delete
l = [99,"hyd",'vocky',78,9.4]
print(l)

In [ ]:
l[4]

In [ ]:
print(l)

In [ ]:
l = [99,"hyd",'vocky',78,9.4]
del l[1]
print(l)

In [ ]:
li =[19,22,33,44]
# list slicing
print(li[1:4])
print(li[:3])
print(li[-4:-1])

In [ ]:
# list of functions
print(li)
print(max(li))
print(min(li))
print(len(li))
print(sum(li)//len(li))

In [ ]:
### list methods
## . --data binding operator
li
li.append(19)

In [54]:
li.insert(2,50)
li

[50]

In [55]:
li.count(44)

0

In [56]:
li.reverse()
li

[50]

In [52]:
li.sort()
li

[]

In [53]:
li.pop(2)
li

IndexError: pop from empty list

# functional programming
- reuse code block can be called as fuction
- remove the duplicate or code
- programming more efficient
- will decrease the lenghth of code -- def funName(): statements
    * FunName is always is camel case
    * parameter function is eample
    * parameter fuction is optional
    * IN python fuction can be defined with key word

In [ ]:
# define the function
def add():
    x=5
    y=9
    print(x+y)
    return
add()

In [ ]:
def square(x):
    print(x*x)
    return
square(10)

In [ ]:
def cube(x):
    return(x*x*x)
cube(4)

In [ ]:
# fuction large num of list
def secondlarge(li):
    li.sort()
    return li[-2]
li =[19,22,33,44]
secondlarge(li)

In [ ]:
# function to find generic large value
def genericlarge(li,n):
    li.sort()
    return li[-n]
li =[19,22,33,44]
genericlarge(li,3)

## dictionaries

In [ ]:
d1={1:"vicky"}
print(d1)

In [ ]:
def dictionaries():
    dict={1:"vicky",2:"zyc",3:"sai"}
    print(dict)
    print(dict[2])
    dict.keys()
    dict.values()
dictionaries()

In [ ]:
dict[4]="vikram"
print(dict)

In [ ]:
dict.pop(2)
print(dict)

In [ ]:
dict.pop("vikram")
print(dict)

In [ ]:
def dict2(my_list):
    ferq={}
    for item in my_lists:
        if (item in freq):
            freq[item]+=1
        else:
            freq[item]=1
    for key, values in freq.items():
        print("%d:%d"%(key,values))
if __name__ == "__main__":
    my_list[1,vicky,2,sai,3,dev]
dict2(my_list)

In [ ]:
dict1={}
l=input()
l=l.split(',')
for i in l:
    t=i.split(':')
    dict1[t[0]]=t[1]
print(dict1)

# Tuples

In [ ]:
tup=(1,2,4)
tup1=("vicky",)
print(tup[1])
print(tup1[0])
print(type(tup1))
print(list(tup))

In [ ]:
print(tup)

In [ ]:
#tuple membership

print('v' in 'vicky')

In [ ]:
tup4=(1,2,4,[5,6])
print(tup4)

In [ ]:
tup=("1","2","4","5")[-3]
print(tup)

In [ ]:
l=(1,2,3,4,5,6,7)[::2]
print(l)

In [ ]:
l=(0,1,2,3,4,5,6,7)[::2]
print(l)

In [2]:
#list should contain 3 names and remove the first letter in each word
x=["sai","swetha","swathi","sasi"]
for i in x:
    if (i[0]== "s"):
        i= "" .join(list(i)[1::])
    print(i)

ai
wetha
wathi
asi

In [4]:

 
tuples=[(),(","),(),('a','b'),('a','b','c'),('d')]
for i in tuples:
    
    if (len(i)==0):
        tuples.remove(i)
print(tuples)

[',', ('a', 'b'), ('a', 'b', 'c'), 'd']

## Tuples
- tuples are similar to list
- used to read the object data
- list is mutable and tuples are immutable
- list object are used for insert update, delete
- tuple objet can only support for reading 
- defined with parenthesis()

In [1]:
t1=(1,2,3,4)
print(t1)
print(type(t1))

(1, 2, 3, 4)
<class 'tuple'>

In [2]:
t1[:3]

(1, 2, 3)

In [3]:
t1[]

()

In [4]:
t1.pop()

AttributeError: 'tuple' object has no attribute 'pop'

In [6]:
print(t1[0:-1])

(1, 2, 3)

In [7]:
t1[1]=1990

TypeError: 'tuple' object does not support item assignment

In [8]:
del t1[2]

TypeError: 'tuple' object doesn't support item deletion

In [11]:
for i in range(len(t1)):
    print(t1[i],end=' ')

1 2 3 4

# Dictionaries

- general purpose data structure in python
- dict object basically consists of keys and value
- dict object consists of unique value
- should be enclosed in curly braces-{}
- one pair of key and value separated by comma (,)
- key and value separated by colon (:)

In [13]:
d1={"name":"vicky","num":"1234","email":"abcd@gmail.com"}
print(d1)

{'name': 'vicky', 'num': '1234', 'email': 'abcd@gmail.com'}

In [17]:
print(d1["name"])

vicky

In [18]:
li=[]
li=d1.keys()
print(li)

dict_keys(['name', 'num', 'email'])

In [14]:
len(d1.keys())

3

In [20]:
li=[]
for i in (d1.keys()):
    li.append(i)
li

['name', 'num', 'email']

In [22]:
li_values=[]
li_values =list(d1.values())
print(li_values)

['vicky', '1234', 'abcd@gmail.com']

In [23]:
d1["name"]="vikram"
print(d1)

{'name': 'vikram', 'num': '1234', 'email': 'abcd@gmail.com'}

In [28]:
del d1["email"]

KeyError: 'email'

In [25]:
print(d1)

{'name': 'vikram', 'num': '1234'}

In [26]:
"vicky" in li

False

# contact application
  ** list,tuple,dict**
* add a new contact details
* search contact
* sort

In [43]:
contacts ={}  #empty dict object
def addcontact(name,phone):
    if name not in contacts:
        contacts[name]=phone
        print(name, "inserted successfull")
    else:
        print(name, "already existed")
    return
addcontact('vicky',1224)
addcontact('sai',1234)
addcontact('vicky',2345)
addcontact('dev',4567)
addcontact('krishna',95734)
addcontact('rakh',464839)
addcontact('raj',67888)
addcontact('rohit',62322)
addcontact('samaira',34556)

vicky inserted successfull
sai inserted successfull
vicky already existed
dev inserted successfull
krishna inserted successfull
rakh inserted successfull
raj inserted successfull
rohit inserted successfull
samaira inserted successfull

In [31]:
contacts

{'vicky': 1224, 'sai': 1234}

In [32]:
def searchcontacts(name):
    if name in contacts:
        return name, ':', contacts[name]
    return "contacts is not present"
print(searchcontacts('vicky'))
print(searchcontacts('vikram'))

('vicky', ':', 1224)
contacts is not present

In [36]:
def editcontact(name,phone):
    if name in contacts:
        contacts[name]=phone
        print(name,"updated")
    else:
        print(name,"not exists")
    return
editcontact('vicky', 12242)
editcontact('vikram',1223445)

vicky updated
vikram not exists

In [38]:
def deletecontacts(name):
    if name in contacts:
        del contacts[name]
        print(name,"deleted successfully")
    else:
        print(name,"not exists")
    return
deletecontacts('vicky')
deletecontacts('vikram')

vicky deleted successfully
vikram not exists

In [39]:
contacts

{'sai': 1234}

In [58]:
len(contacts)

8

In [82]:
def sortcontacts():
    li=[]
    li=list(contacts.keys())
    print(li)
    li.sort()
    for i in li: 
        print(i,":",contacts[i])
sortcontacts()

['vicky', 'sai', 'dev', 'krishna', 'rakh', 'raj', 'rohit', 'samaira']
dev : 4567
krishna : 95734
raj : 67888
rakh : 464839
rohit : 62322
sai : 1234
samaira : 34556
vicky : 1224

In [ ]:
def doublecontacts():

# sets

In [4]:
s={1,2,3,4,5}
s

{1, 2, 3, 4, 5}

In [2]:
s.add(6)
s

{1, 2, 3, 4, 5, 6}

In [6]:
s.update({8,9,19})
s

{1, 2, 3, 4, 5, 6, 8, 9, 19}

In [9]:
s.update([1,2],{101:"hi",201:"hello"},(55,66,77))    #using update we can add any data structure like list,dict,tuple
s

{1, 2, 3, 4, 5, 6, 8, 9, 19, 55, 66, 77, 101, 201}

In [10]:
s.discard(2)
s

{1, 3, 4, 5, 6, 8, 9, 19, 55, 66, 77, 101, 201}

In [11]:
s.remove(3)
s

{1, 4, 5, 6, 8, 9, 19, 55, 66, 77, 101, 201}

In [7]:
s.pop()
s

{4, 5}

In [12]:
def replace():
    st=str(input())
    for i in st:
        if i=="M" or i=="m":
            print("w",end='')
        else:
            print(i,end="")
replace()

manimani
waniwani

In [20]:
def countuppercase(string):
    upper=0
    for i in range(len(string)):
           if ord(string[i])>=65 and ord(string[i])<=90:
                upper+=1
    print('the upper case letters is:%s'%upper)
string = input()
countuppercase(string)

sjcbshKJDKACKACSKSKC
the upper case letters is:14

### Files

- Write the file data
- append then file data
- read the file data
- word count
- character count
- some specific examples on characters and words

- file modes
  * W(if the file does not exists then it will create file and will put some to the file), if the file is already exists then it is rewrite the existing file data 
  * a (if the file does not exists then it will create a file and data will be written),  if the file is already exists then the data will be written from last line

In [40]:
def createfile(fileName):
    f = open(fileName,'w')
    for i in range(10):
        f.write('this line\n')
        #print('this line',i)
    print('file is created and dat has to written to the file')
    return

createfile('file.txt')

file is created and dat has to written to the file

In [41]:
def testfileData(fileName):
    f=open(fileName,'w')
    f.write('new line data\n')
    return
testfileData('file.txt')

In [57]:
def appendData(fileName):
    
    f=open(fileName,'a')
    f.write('dhyanahitha org\n')
    print('data is append')
    return
appendData('file2.txt')

data is append

In [18]:
ls

 Volume in drive C is Windows
 Volume Serial Number is F8D0-9F99

 Directory of C:\Users\Vikki

09-01-2020  15:02    <DIR>          .
09-01-2020  15:02    <DIR>          ..
20-12-2019  18:28    <DIR>          .anaconda
25-08-2019  15:12    <DIR>          .android
13-04-2018  20:50    <DIR>          .AndroidStudio2.3
03-01-2020  12:25                77 .bash_history
20-12-2019  18:45    <DIR>          .conda
20-12-2019  18:46                43 .condarc
03-01-2020  11:14               212 .gitconfig
18-04-2018  12:43    <DIR>          .gradle
16-05-2018  20:49    <DIR>          .idea
06-08-2019  17:22    <DIR>          .InstallAnywhere
07-01-2020  11:14    <DIR>          .ipynb_checkpoints
29-06-2019  15:59    <DIR>          .ipython
23-12-2019  10:31    <DIR>          .jupyter
29-06-2019  15:59    <DIR>          .matplotlib
20-05-2019  16:50    <DIR>          .nbi
05-08-2019  20:13    <DIR>          .netbeans-derby
06-08-2019  17:20    <DIR>          .oracle_jre_usage
08-07-2019  09:54    <DIR>          .spyder
02-01-2020  19:01    <DIR>          3D Objects
26-12-2019  14:35    <DIR>          Anaconda2
20-12-2019  18:16    <DIR>          Anaconda3
19-07-2018  15:59    <DIR>          AndroidStudioProjects
08-07-2019  12:00    <DIR>          Aptana Rubles
21-05-2019  15:33            24,559 bankimage.jpg
02-01-2020  19:01    <DIR>          Contacts
09-01-2020  12:22    <DIR>          Desktop
09-01-2020  12:18    <DIR>          Documents
09-01-2020  12:23    <DIR>          Downloads
12-07-2019  17:16    <DIR>          E
02-01-2020  19:01    <DIR>          Favorites
09-01-2020  15:04                32 file.txt
09-01-2020  15:02                 0 file1.txt
09-01-2020  14:57                 0 fileName
30-03-2018  19:58    <DIR>          HP
24-06-2018  12:59           388,009 imagee.jpg
12-09-2018  21:31    <DIR>          javame-sdk
02-01-2020  19:01    <DIR>          Links
02-01-2020  19:01    <DIR>          Music
26-11-2019  08:33    <DIR>          OneDrive
04-01-2020  11:41    <DIR>          Pictures
29-08-2019  21:48             3,993 procedures.sql
07-01-2020  10:39             8,678 programs15.ipynb
09-01-2020  15:02            46,368 python basics.ipynb
03-01-2020  12:20    <DIR>          rap
05-06-2018  09:38    <DIR>          Roaming
02-01-2020  19:01    <DIR>          Saved Games
02-01-2020  19:01    <DIR>          Searches
26-12-2019  14:59             1,250 Untitled.ipynb
06-01-2020  13:21               555 Untitled1.ipynb
07-01-2020  11:16               555 Untitled2.ipynb
03-01-2020  15:03    <DIR>          Videos
              14 File(s)        474,331 bytes
              39 Dir(s)  25,655,853,056 bytes free

In [58]:
def readfileData(fileName):
    f= open(fileName,'r')
    if f.mode=='r':
        x = f.read()
        print(x)
    else:
        print("error message")
    return
readfileData('file2.txt')

dhyanahitha org
dhyanahitha org

In [60]:
#word count

def wordcount(fileName):
    li=[]
    f=open(fileName,'r')
    if f.mode == 'r':
        
        x=f.read()
        li=x.split()
    return len(li)
wordcount('file2.txt')

4

In [47]:
li=[]
s="rohit sharma hit man"
li=s.split()
print(li)-
print(len(li))

['rohit', 'sharma', 'hit', 'man']
4

In [77]:
def specificwordcount(fileName,word):
    li=[]
    f=open(fileName,'r')
    if f.mode=='r':
        x=f.read()
        li=s.split()
    cnt=li.count(word)
    return cnt
specificwordcount('file2.txt','org')

0

In [79]:
#chracter count
#find line count
#upper case & lower case

def charactercount(fileName):
    li=[]
    f=open(fileName,'r')
    if f.mode=='r':
        x=f.read()
        li=list(x)
    return len(li)
charactercount('file1.txt')

64

In [75]:
def countupperlowercase(string):
    upper=0
    lower=0
    for i in range(len(string)):
           
            if ord(string[i])>=65 and ord(string[i])<=90:
                upper+=1
            elif ord(string[i])>=97 and ord(string[i])<=122:
                lower+=1
    print('the upper case letters is:%s'%upper)
    print('the lower case letters is:%s'%lower)
string = input()
countupperlowercase(string)

cgdzklvkjAJNCSKJCNKANCKJCJNBK
the upper case letters is:20
the lower case letters is:9